/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-grey: #F1F5F7;
  --basic-grey: #32425C;
  --basic-dark-grey: #293449;
  --basic-extra-dark-grey: #212A3A;
  --basic-light-black: #1D2739;
  --hover-grey: #B5B5B5;
  --hover-icon-grey: #3D546F;
  --basic-white: #ffffff;
  --basic-light-beige: #F9F5F0;
  --basic-beige: #F7F3EC;
  --basic-red: #EE3643;
  --basic-dark-red: #CA2C37;
  --basic-darkest-red: #BA2732;
  --basic-green: #63A63E;
  --basic-light-green: #5FBB2D;
  --basic-dark-green: #518534;
  --special-grey: #ABABAB;
  --special-light-grey: #A9A9A9;
  --special-extra-light-grey: #C5C5C5;
  --special-super-light-grey: #EAEAEA;
  --special-super-dark-grey: #161D29;
  --special-modal-light-grey: #F1F1F1;
  --special-bc-grey: #C1C6CE;
  --special-beige: #FFDA96;
  --special-dark-beige:#FFD180;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-light-green: #8ED78F;
  --special-purple: #DC91D8;
}

/*Typography*/

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       local("PTsans"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       local("PTsansbold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
       local("Cuprum"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"),
       local("Cuprumitalic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"),
       local("Cuprumbold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold Italic"),
       local("Cuprumbolditalic"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Basic */

body {
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color:var(--basic-white);
}

.container {
  width: 940px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.button {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-family:"Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.btn-link,
.feature-item,
.slide-caption,
.slide-link,
.top-wrapper a,
.main-footer a,
.new-products {
  color: var(--basic-white);
}

.user-interface,
.address,
.main-navigation ul,
.product-grid,
.btn-set ul,
.trade-mark,
.key-service-menu,
.service-key-slider-items,
.main-bottom-menu,
.catalog-menu,
.social-links,
.get-in-touch,
.cabinet,
.breadcrumbs,
.filter-checkbox-ul,
.filter-radio-ul,
.sorting-radio-ul,
.sorting-order,
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-link {
  display: block;
  width: 135px;
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: hidden;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.btn-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.btn-transfer {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 18px;
  background-color: var(--basic-red);
}

.new-label {
  position: absolute;
  top: 6px;
  right: -24px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid var(--basic-red);
  width: 30px;
  height: 0;
  color: var(--basic-white);
  transform: rotate(45deg);
}

.new-products {
  display: block;
  margin-top: 6px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.slide-link {
  display: block;
  width: 192px;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  background-color:var(--basic-red);
}

.slide-link:hover,
.slide-link:focus,
.btn-transfer:hover,
.btn-transfer:focus,
.price:hover,
.price:focus {
  background-color:var(--basic-dark-red);
}

.slide-link:active,
.btn-transfer:active,
.price:active {
  background-color:var(--basic-darkest-red);
}

.price:hover::before,
.price:focus::before {
  border-left: 20px solid var(--basic-dark-red);
}

.price:active::before {
  border-left: 20px solid var(--basic-darkest-red);
}

/* Headlines */

.main-headline {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.section-headline {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.division-headline {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.service-caption .division-headline {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
}

/* Breadcrumbs */

.breadcrumbs-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 357px;
  min-height: 59px;
}

.breadcrumbs li {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.breadcrumbs li::after {
  content: "";
  width: 8px;
  height: 12px;
  margin-left: 15px;
  background: url(../images/icons_svg/icon-angle.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--basic-red);
}

.to-main-page {
  fill: var(--special-bc-grey);
}

.to-main-page:hover {
   fill: var(--basic-red);
}

/* Header */

.main-header {
  background-color: var(--basic-light-grey);
}

.top-wrapper {
  min-height: 42px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-grey);
}

.top-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
}

.logo {
  margin-bottom: -5px;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo svg {
  display: block;
  margin: 12px auto 17px;
}

.logo-img {
  width:108px;
  height:18px;
  fill:var(--basic-white);
}

.logo:active {
  background-color: var(--basic-darkest-red);
}

.search {
  display: flex;
  justify-content: center;
  width: 250px;
  align-self: flex-start;
}

.search-input {
  width: 241px;
  min-height: 42px;
  padding-left: 10px;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-grey);
  order: 2;
  outline: transparent;
}

.search-label {
  position: relative;
  align-self: center;
  padding-left: 14px;
  min-height: 32px;
  padding-top: 10px;
  order: 1;
}

.icon-search {
  fill: var(--basic-white);
  width: 17px;
  height: 17px;
  opacity: 0.5;
}
.search-input:hover ~ .search-label .icon-search,
.icon-search:hover .search-label {
  opacity: 1;
}
.search-input:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search-input:focus ~ .search-label,
.search-label:focus,
.search-input:focus ~ .search-label .icon-search,
.icon-search:focus .search-label {
  background-color: var(--basic-white);
  fill: var(--basic-red);
  opacity: 1;
}

.interface-item-bookmarks,
.interface-item-cart {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  justify-content: space-between;
  align-items: flex-start;
}

.interface-item-bookmarks {
  width: 120px;
  padding-left:20px;
  padding-right: 20px;
}

.interface-item-cart {
  width: 110px;
  padding-left:20px;
  padding-right: 20px;
}

.full-cart {
  background-color: var(--basic-red);
}

.btn-include {
  position: relative;
  padding-left: 25px;
}

.btn-include::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 16px;
  background-image: url(../images/icons_svg/icon-bookmarks.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-include-cart {
  position: relative;
  padding-left: 25px;
}

.btn-include-cart::before {
  content: "";
  position: absolute;
  top:3px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../images/icons_svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-include:hover::before,
.btn-include-cart:hover::before {
  opacity: 1;
}

.btn-include:active,
.btn-include:active ~ .result,
.btn-include-cart:active,
.btn-include-cart:active ~ .result,
.result:active {
  opacity: 0.5;
}

.btn-include:active ~ .btn-include::before,
.btn-include:active::before,
.btn-include-cart:active ~ .btn-include::before,
.btn-include-cart:active::before {
  opacity: 0.7;
}

.interface-item-bookmarks:active,
.interface-item-bookmarks:active .btn-include,
.interface-item-bookmarks:active .result,
.interface-item-cart:active,
.interface-item-cart:active .btn-include,
.interface-item-cart:active .result {
  background-color: var(--special-super-dark-grey);
}

.make-order {
  display: flex;
  width: 150px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-green);
}

.make-order:hover {
  background-color: var(--basic-light-green);
}

.make-order:focus,
.make-order:active {
  background-color: var(--basic-green);
}

.make-order:focus .btn-confirm,
.make-order:active .btn-confirm  {
  opacity: 0.5;
}

.user-interface {
  display: flex;
  width: 470px;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.middle-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 41px;
  padding-bottom: 42px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-grey);
}

.middle-block p {
  margin-top: 0;
  margin-bottom: 0;
  width: 245px;
  margin-left: 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.middle-block a {
  color: var(--basic-black);
}

.address {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone-number {
  position: relative;
  display: block;
  padding: 6px 52px 6px 62px;
  text-align: center;
  border: 3px solid var(--basic-white);
}

.phone-number::before {
  content:"";
  position: absolute;
  top: 12px;
  left: 30px;
  width: 18px;
  height: 19px;
  background-image: url(../images/icons_svg/icon-phone.svg);
  background-position: 0 0;
}

.phone-number a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
}

.address-text {
  display: inline-block;
  margin-top: 3px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.user-bar {
  display: flex;
  width: 270px;
  padding-left: 40px;
  justify-content: space-between;
  align-items: stretch;
}

.inner-user-bar {
  width: 300px;
  padding-left: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.user-item {
  position: relative;
  padding: 10px 0;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-white);
  outline: none;
  cursor: pointer;
}

.login {
  min-width: 120px;
  margin-right: 10px;
  padding-right: 25px;
  text-align: right;
}

.registration {
  width: 150px;
  text-align: center;
}

.enter::before {
  content:"";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 17px;
  margin-right: 6px;
  background-image: url(../images/icons_svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-item:hover,
.user-item:focus {
  color:var(--basic-red);
}

.user-item:active {
  color:var(--special-extra-light-grey);
}

.enter:hover::before,
.enter:focus::before {
  background-image: url(../images/icons_svg/icon-login_hover.svg);
}

.enter:active::before {
  background-image: url(../images/icons_svg/icon-login_click.svg);
}

.user-inner,
.cabinet {
  margin-right: 0;
}

.user-inner {
padding-left: 50px;
padding-right: 10px;
}

.user-inner::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url(../images/icons_svg/icon-profile.svg);
  background-position: 0 0;
}

.logout {
  width: 45px;
}

.logout::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;
  width: 20px;
  height: 17px;
  background-image: url(../images/icons_svg/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-inner:hover::before,
.user-inner:focus::before {
  background-image: url(../images/icons_svg/icon-profile_hover.svg);
}

.logout:hover::after,
.logout:focus::after  {
  background-image: url(../images/icons_svg/icon-logout_hover.svg);
}

.user-inner:active::before {
  background-image: url(../images/icons_svg/icon-profile_click.svg);
}

.logout:active::after {
  background-image: url(../images/icons_svg/icon-logout_click.svg);
}

.cabinet {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.cabinet li {
  padding-left: 10px;
}

.cabinet li:nth-child(2)::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--basic-grey);
}

.cabinet li a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  cursor: pointer;
}

.cabinet li a:hover,
.cabinet li a:focus {
  color: var(--basic-red);
}

.cabinet li a:active {
  color: var(--special-extra-light-grey);
}

/* Navigation */

.main-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px #293449;
}

.main-navigation ul {
  display: flex;
  min-height: 60px;
  margin-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-nav-list-item {
  display: block;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 44px;
}

.main-nav-list-item a {
  color: var(--basic-white);
}
.main-nav-list-item:hover,
.main-nav-list-item:focus {
  background-color: var(--basic-dark-grey);
}

.main-nav-list-item:active {
  background-color: var(--basic-light-black);
}

.main-nav-list-item:active a {
opacity: 0.5;
}

/* Fitures */

.features{
  margin-top: 59px;
  margin-bottom: 59px;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.feature-item {
  position: relative;
  display: flex;
  width: 260px;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Cuprum", Arial, sans-serif;
}

.feature-item h4 {
  display: block;
  margin: 0 0;
  width: 135px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.feature-img {
  display: block;
  margin: auto;
  fill:none;
}

.feature-img {
  fill:var(--basic-white);
}

.materials, .delivery {
  background-color:var(--special-yellow);
}

.materials {
  grid-column:1/span 1;
}

.tools {
  background-color: var(--special-blue);
  grid-column:2/span 1;
}

.technics {
  background-color: var(--special-purple);
  grid-column:3/span 1;
}

.discont {
  background-color: var(--basic-green);
  grid-column:3/span 1;
}

.delivery {
  grid-column:3/span 1;
  grid-row: 2/span 1;
}

.slider {
  width: 620px;
  height: 266px;
  grid-column: 1/2;
  grid-row: 2/-3;
  padding: 0;
  background-color: var(--basic-grey);
}

.slider-list li {
  height: 266px;
  width: 620px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 266px;
  width: 620px;
  padding: 0;
  margin: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list li:nth-child(1) .slider-item {
  background-image: url(../images/slider/slide-perforator.jpg);
  background-repeat: no-repeat;
  background-size:contain;
}

.slider-list li:nth-child(2) .slider-item {
  background-image: url(../images/slider/slide-drill.jpg);
  background-repeat: no-repeat;
  background-size:contain;
}

.slide-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 23px;
  padding-left: 24px;
  background-color: rgba(0, 0, 0, 0.25);
}

.slide-caption .headline-inner {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slide-caption p {
  font-size: 18px;
  line-height: 9px;
}

.btn-container {
  padding-bottom: 27px;
  padding-left: 24px;
}

.slider-controls {
  display: block;
  position: absolute;
  width: 620px;
  top: 110px;
  margin: 0;
  padding: 0;
  border: none;
}

.slide-btn {
  position: relative;
  border: none;
  background-color: transparent;
}

.slider-control-left::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  left: 24px;
  top: 0;
  background-image: url(../images/icons_svg/icon-slider-control-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.slider-control-right::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  left: 572px;
  top: 0;
  background-image: url(../images/icons_svg/icon-slider-control-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.transfer-to {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left:28px;
  padding-right:14px;
  background-color: var(--basic-light-beige);
}

.main-headline-container {
  display: block;
  width: 898px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 14px;
  background-color: var(--basic-light-grey);
  order: 2;
}
 /* products and Trade Marks */

.product-set {
  padding-bottom: 59px;
}

.product-grid, .trade-mark {
  display: grid;
  justify-content: space-between;
}

.main-page .product-grid {
  grid-template-columns: 219px  219px  219px  219px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.catalog-page {
  display: grid;
  grid-template-columns: 100%;
}

.product-list {
  display: grid;
  grid-template-columns: 220px 700px;
  gap:20px;
  order: 3;
}

.catalog-page .product-grid {
  grid-template-columns: 219px  219px  219px;
  gap: 20px;
}

.product-item {
  min-height: 318px;
}

.product-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
  width: 219px;
  border: 1px solid var(--special-super-light-grey);
}

.product-img {
  min-width: 127px;
  min-height: 112px;
  margin: 6px 18px;
  padding-top: 20px;
  object-fit: contain;
}

.product-link {
  width: 185px;
  min-height: 40px;
  margin-top: 38px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.product-link + del {
  margin-top: 7px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-light-grey);
}

.price {
  position: relative;
  width: 141px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  background-color:var(--basic-red);
  border-radius: 3px 0 0 3px;
}

.price::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 19px solid white;
  border-bottom: 19px solid white;
  border-left: 20px solid var(--basic-red);
}

.product-link + .price {
  margin-top: 39px;
}

.trade-mark {
  margin-top: 20px;
  margin-bottom: 70px;
  grid-template-columns: 219px 219px 219px 219px;
  gap: 20px;
}

.trade-mark-item {
  width: 219px;
  min-height: 145px;
  border: 1px solid var(--special-super-light-grey);
}

.product-item:hover .product-inner,
.product-item:focus .product-inner,
.trade-mark-item:hover,
.trade-mark-item:focus {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.trade-mark-item:active {
  border:none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.trade-mark-img {
  object-fit: contain;
}

.btn-set {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 218px;
  padding-top: 38px;
  padding-bottom: 26px;
  background-color: var(--basic-white);
}

.product-inner:hover .btn-set,
.product-inner:focus .btn-set,
.product-item:focus-within .btn-set {
  display: block;
}

.btn-buy {
  position: relative;
  display: flex;
  justify-content: center;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.btn-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 9px;
  left: 30px;
  background-image: url(../images/icons_svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--basic-light-green);
}

.btn-buy:active {
  background-color: var(--basic-dark-green);
}

.bookmarks {
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border:3px solid var(--basic-green);
  border-radius: 2px;
}

.bookmarks:hover,
.bookmarks:focus {
  border:3px solid var(--basic-grey);
}

.bookmarks:active {
  opacity: 0.5;
}

/* Filters and Sorting */

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-name,
.sorting {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin-top: 20px;
  margin-bottom: 14px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-beige);
}

.filter-form fieldset {
  margin:0;
  padding: 0;
  padding-bottom: 22px;
  border: none;
  border-bottom: 1px solid var(--special-super-light-grey);
}

.filter-form legend {
  margin-top: 20px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-form fieldset:first-child legend {
  margin-top: 0;
}

.filter-form > fieldset:last-of-type {
  border-bottom: none;
}

.filter-form .filter-button {
  display:inline-block;
  padding-top: 10px;
  padding-left: 79px;
  padding-right: 79px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--special-super-light-grey);
}

.filter-form .filter-button:hover,
.filter-form .filter-button:focus {
  border: 1px solid var(--special-extra-light-grey);
}

.filter-form .filter-button:active {
  border: 1px solid var(--basic-red);
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-extra-light-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left:18px
}

.range-controls .toggle-max {
  left:160px
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.price-controls input {
  width: 85px;
  padding: 10px 5px;
  text-align: center;
  color:var(--basic-black);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-beige);
  font-size: 17px;
  line-height: inherit;
}
.price-controls label:first-child input {
  margin-right: 10px;
}
.price-controls label:last-child input {
  margin-left: 10px;
}
.filter-option {
  margin-left: 30px;
  margin-top: 16px;
}

.filter-option label {
  position: relative;
  display: block;
  padding-left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../images/icons_svg/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url(../images/icons_svg/icon-checkbox-off-focused.svg);
  }

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -29px;
  width: 25px;
  height: 20px;
  background-image: url(../images/icons_svg/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  background-image: url(../images/icons_svg/icon-checkbox-on-focused.svg);
}

.filter-input-checkbox:disabled + label::before {
  background-image: url(../images/icons_svg/icon-checkbox-off-focused.svg);
  opacity: 0.7;
  cursor: initial;
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url(../images/icons_svg/icon-checkbox-on-focused.svg);
  opacity: 0.7;
  cursor: initial;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 4px solid var(--special-extra-light-grey);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -24px;
  width: 10px;
  height: 10px;
  background-color: var(--special-extra-light-grey);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  border: 4px solid var(--hover-grey);
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-color: var(--hover-grey);
}

.filter-input-radio:disabled + label::before {
  border: 4px solid var(--hover-grey);
  opacity: 0.7;
  cursor: initial;
}
.filter-input-radio:checked:disabled + label::after {
  background-color: var(--hover-grey);
  opacity: 0.7;
  cursor: initial;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
  cursor: initial;
}

.sorting {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  width: 681px;
  padding-left: 19px;
  margin-bottom: 20px;
}

.sorting-form {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  padding-right: 17px;
}

.sort-field {
  border: none;
  margin: 0;
  padding: 0;
}

.sorting-radio-ul {
  display: flex;
  justify-content: space-between;
  width: 348px;
  padding-right: 46px;
}

.sorting-order {
  display: flex;
  justify-content: flex-end;
  width: 66px;
}

.order-option {
  width: 33px;
  text-align: center;
}

.sorting-radio-ul label {
  padding: 0;
  text-transform: uppercase;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  cursor: pointer;
}

.sort-input-radio label:hover,
.sort-input-radio label:focus  {
  color: var(--basic-black);
  text-decoration-style: solid;
  text-decoration-color: var(--basic-red);
}

.sort-input-radio:checked + label {
  color: var(--basic-red);
  text-decoration: none;
}

.sort-input-radio + label {
  padding: 0;
  text-transform: uppercase;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  cursor: pointer;
}

.sort-input-radio:hover + label,
.sort-input-radio:focus + label {
  color: var(--basic-black);
  text-decoration-style: solid;
}

.sort-input-radio:checked + label,
.sort-input-radio:hover:checked + label,
.sort-input-radio:focus:checked + label {
  color: var(--basic-red);
  text-decoration: none;
  cursor: initial;
}

.order-input-radio + label .up-button,
.order-input-radio + label .down-button {
  fill: var(--special-extra-light-grey);
  cursor: pointer;
}

.order-input-radio:hover + label .up-button,
.order-input-radio:focus + label .up-button,
.order-input-radio:hover + label .down-button,
.order-input-radio:focus + label .down-button {
  fill: var(--basic-black);
}

.order-input-radio:checked + label .up-button,
.order-input-radio:checked + label .down-button,
.order-input-radio:hover:checked + label .up-button,
.order-input-radio:focus:checked + label .down-button {
  fill: var(--basic-red);
  cursor: initial;
}

/* Pagination */

.pagination {
  display: flex;
}

.page-item {
  padding: 10px 18px;
  margin-top: 48px;
  margin-right: 10px;
  border: 1px solid var(--special-super-light-grey);
  border-radius: 3px;
  cursor: pointer;
}

.page-item:last-child {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 0;
}

.page-item a {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

.page-item.current {
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.page-item:hover,
.page-item:focus {
  border: 1px solid var(--special-extra-light-grey);
}

.page-item:active {
  border: 1px solid var(--basic-red);
}

.page-item.current a {
  color: var(--basic-white);
}

.page-item.current:hover,
.page-item.current:focus {
  cursor: initial;
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

/* Modal Windows */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
}

.modal-cart {
  display: none;
  top: 165px;
  bottom: auto;
  width: 585px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.closed {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;
}

.closed::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  background-image: url(../images/icons_svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-message-field {
  display: flex;
  padding-top: 38px;
  padding-left: 81px;
  padding-bottom: 38px;
  justify-content: flex-start;
}

.modal-cart p {
  padding-left: 20px;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.modal-icon {
  position: relative;
  display: block;
  padding-top: 18px;
  padding-left: 13px;
  width: 53px;
  height: 48px;
  background: var(--basic-green);
  border-radius: 50%;
}

.modal-icon-checkbox {
  width: 40px;
  height: 30px;
  fill: var(--basic-white);
}

.modal-btn-field {
  padding-top: 37px;
  padding-bottom: 37px;
  display: flex;
  justify-content: center;
  background-color: var(--special-modal-light-grey);
}

.modal-btn-set {
  display: flex;
  width: 402px;
  justify-content: space-around;
}

.modal-btn-set .btn-transfer {
  width: 192px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.btn-close-modal {
  width: 192px;
  border: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  border: 1px solid var(--basic-grey);
}
.btn-close-modal:active {
  border: 1px solid var(--basic-grey);
  opacity: 0.5;
}

.modal-feedback {
  display: none;
  top: 100px;
  bottom: auto;
  width: 620px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-feedback-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

.feedback-form {
  display: grid;
  padding-top: 39px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 37px;
  grid-template-columns: 219px 219px;
  gap: 20px;
}

.feedback-form input {
  width: 200px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 7px;
  font-size: 13px;
  color: var(--special-light-grey);
  border: 2px solid var(--special-extra-light-grey);
  border-radius: 2px;
  box-shadow: none;
  outline: transparent;
}

.textarea-field,
.feedback-form .btn-transfer {
  grid-column: 1/3;
}

.feedback-form textarea {
  width: 440px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 8px;
  color: var(--special-light-grey);
  border: 2px solid var(--special-extra-light-grey);
  border-radius: 2px;
  box-shadow: none;
  outline: transparent;
}

.form-field-item label {
  display: block;
  margin-left: 0;
  margin-bottom: 11px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
}

.modal-feedback .btn-transfer {
  width: 464px;
}

.modal-map {
  display: none;
  top: auto;
  bottom: 133px;
  width: 911px;
  height: 417px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map iframe {
  border: none;
}

/* Services */

.services {
  background-color: var(--basic-light-grey);
  padding-top: 64px;
  padding-bottom: 45px;
}

.service-container {
  display: grid;
  grid-template-columns: 459px  459px;
  grid-template-rows: auto auto;
  gap: 21px;
}

.service-container p {
  font-size: 13px;
  line-height: 24px;
  width: 400px;
}

.key-service-slider {
  grid-column: 1/3;
  display: flex;
  align-items:center;
}

.key-service-menu {
  width: 240px;
  min-height: 185px;
  margin-right: -10px;
}

.service-menu-item button  {
  font-size: 21px;
  width: 240px;
  min-height: 60px;
  background-color:var(--basic-grey);
  text-align: left;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  text-transform: none;
  padding-left: 22px;
}

.service-menu-item .service-button-current {
  color:var(--basic-grey);
  background-color: var(--basic-white);
  box-shadow: none;
}

.service-menu-item button:hover,
.service-menu-item button:focus {
  background-color: var(--basic-dark-grey);
}

.service-menu-item .service-button-current:hover,
.service-menu-item .service-button-current:focus {
  background-color: var(--basic-white);
  cursor:initial;
}

.service-menu-item button:active {
  color:var(--basic-grey);
  background-color: var(--basic-white);
  box-shadow: none;
}

.service-key-slider-items {
  width: 700px;
}

.service-slide-item {
  width: 619px;
}

.service {
  display: none;
}

.service-current {
  display: block;
}

.service-inner {
  display: block;
  position: relative;
  width: 619px;
  min-height: 283px;
  margin: 0;
}

.service-inner::before {
  content: "";
  position: absolute;
  background-image: url(../images/services_img.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 279px;
  width: 10px;
  left: 0;
  top:0;
}

.service-slide-img {
  display: block;
  position: absolute;
  left:231px;
  right: 0;
  top: 66px;
  width:468px;
  height:261px;
  z-index: inherit;
}

.service-caption {
  display: block;
  position: absolute;
  width: 300px;
  left:0;
  top:0;
  padding-left: 80px;
  padding-top: 46px;
  z-index: 2;
}

.service-slide-item:nth-child(2) .service-caption {
  width: 331px;
}

/* Company */

.company {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-product {
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: var(--basic-light-grey);
}

.company > .container {
  display: grid;
  grid-template-columns: 480px  300px;
  gap: 160px;
}

.company .section-headline {
  margin-bottom: 24px;
}

.catalog-page .about-product {
  order: 4;
}

.about > p:nth-of-type(1) {
  margin-bottom: 30px;
}

.about > p:nth-of-type(2) {
  margin-bottom: 2px;
}

.about p + .partners{
  list-style: none;
  margin: 0;
  padding: 0;
}

.about p + .partners > li {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-top: 12px;
}

.about p + .partners > li:first-child {
  margin-top: 0;
}

.about p + ul > li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.partner {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  padding-left: 12px;
}

.about-btn {
  display: inline-block;
  margin-top: 20px;
  padding-left: 8.5%;
  padding-right: 8.5%;
  text-align: center;
}

.contacts .map-popup {
  display: block;
  margin-top: 26px;
  margin-bottom: 25px;
}

/* Footer */

.main-footer {
  background-color:var(--basic-grey);
}

.main-footer .container:not(.copyright .container) {
  display: grid;
  grid-template-columns: 333px 546px;
  gap: 61px;
  padding-bottom: 54px;
}

.bottom-contacts, .footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 8px;
  height: 63px;
}

.footer-logo svg {
  display: block;
  margin: 21px auto 25px;
}

.bottom-contacts p,
.main-bottom-menu a,
.catalog-menu a,
.copyright p,
.get-in-touch li {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--basic-white);
}

.main-bottom-menu,
.catalog-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-bottom-menu-item {
  padding-top: 37px;
  padding-left: 58px;
}

.catalog-menu-item {
  padding-top: 32px;
  padding-left: 58px;
}

.main-bottom-menu-item:first-child,
.catalog-menu-item:first-child {
  padding-left: 0;
}

.catalog-menu-item a {
  display: block;
  text-align: right;
  color: var(--special-dark-beige);
}

.main-bottom-menu-item a:hover,
.main-bottom-menu-item a:focus,
.catalog-menu-item a:hover,
.catalog-menu-item a:focus {
  text-decoration: underline;
}

.main-bottom-menu-item a:active,
.catalog-menu-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.catalog-menu-item a:last-child {
  padding-right: 0;
}

.copyright {
  background-color:var(--basic-dark-grey);
  padding-top: 34px;
  padding-bottom: 19px;
}

.copyright > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright p,
.get-in-touch li {
  font-size: 16px;
  line-height: 18px;
}
.copyright p {
  display: inline-block;
  vertical-align: middle;
  padding-right: 2%;
}

.social-links, .get-in-touch {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-links li {
  width: 46px;
  align-self: center;
  padding: 2px;
}

.social-button {
  display:flex;
  width: 46px;
  height: 46px;
  text-align: center;
  background-color: var(--basic-extra-dark-grey);
  border-radius: 50%;
  align-items:center;
  justify-content: center;
  cursor: pointer;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}

.social-img {
  fill:var(--basic-white);
  cursor: pointer;
}

.get-in-touch {
  display: flex;
  width: 286px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-in-touch li {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
}

a.developer-link {
  display: inline-block;
  vertical-align: middle;
  color: var(--special-dark-beige);
}
a.developer-link:hover,
a.developer-link:focus {
  text-decoration: underline;
}

a.developer-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
